
body {
	color: #333;
}

h2 {
	color: #ff9900;
}

h3 {
	color: #66cc00;
}

h4 {
	color: #9966cc;
}

.navbar-inverse {
	background-color: #66cc00;
}

.navbar-inverse .navbar-header {
	color: #fff;
}

.navbar-inverse .navbar-collapse {
	border-color: #66aa00;
}

.navbar-inverse .navbar-nav>li>a {
	color: #0099cc;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #0088aa;
	background: #efefef;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-brand:hover {
	color: #eee;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
	background-color: #0099cc	
}

a {
	color: #0099cc;
}

dl .row {
	padding-bottom: 15px;
}

dl dt {
	color: #cc3333;
}

dl dd {
	padding-top:5px;
	font-size: 0.875em;
	text-align: justify;
}

#main-content a {
	font-weight: bold;
}

#main-content hr {
	padding-top: 20px;
	padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
	.navbar-inverse .navbar-collapse {
		background-color: #fff;
	}
}